body {
    padding-top: 60px;
}

abbr[title] {
    border-bottom: none;
}

.hero-unit, footer, header {
    background: #000;
    color: #fff;
}

.hero-unit h1 {
    margin-bottom: 30px;
}

footer {
    padding-top: 40px;
}

footer ul img {
    border: 2px solid #f5f5f5;
}

header {
    height: 150px;
    padding-top: 40px;
    margin-bottom: 60px;
}

.symfony {
    font-style: italic;
    font-size: 12px;
    padding: 20px 100px;
}

.members {
    list-style-type: none;
}

.members li {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
}

.sf-event p {
    margin: 10px 0;
    font-size: 14px;
}

address {
    font-style: italic;
    text-align: center;
}
