{% extends 'AfsyFrontBundle:Avent:day.html.twig' %}

{% set year = 2013 %}

{% block article_title 'Jour 01 - Cet article n\'est pas encore écrit' %}

{% block article_avatar %}
    <img src="/img/logo.png" alt="Prénom Nom" width="90" height="120">
{% endblock %}

{% block article_author 'Prénom Nom' %}

{% block article_bio %}
    <p>Ceci est une petite bio pour permettre à l\'auteur de parler de lui et de sa boîte.</p>
    <p>Il pourra aussi partager ses passions, il pourra <a href="#">mettre des liens</a>...</p>
    <marquee>voir même des &lt;marquee&gt;</marquee>
{% endblock %}

{% block article_content %}
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
    <p>bla bla</p>
{% endblock %}
