{% extends 'AfsyFrontBundle:Avent:day.html.twig' %}

{% set year = 2013 %}

{% block article_title 'Jour 01 - Présentation de l\'AFSY' %}
{% block article_content %}
<h1>L’AFSY, une "non-association" pour promouvoir Symfony</h1>


<p>L'AFSY c'est l'acronyme pour 'Association Française des utilisateurs de Symfony'.<br />
Sur la forme, ce n'est pas vraiment une association, puisque aucun statut administratif n'a été déposé ! Dans les faits, depuis 2009, l'AFSY correspond à un groupe d'utilisateurs, présent dans plusieurs villes françaises : Paris, Marseille, Nantes.</p>

<p><strong>Notre objectif</strong> : promouvoir le framework <a href="http://symfony.com/">Symfony</a> dans le monde PHP. Aujourd’hui, nous essayons d’aider la communauté Symfony française pour que ses membres puissent échanger, dialoguer et s’entraider.<br />
C’est d’ailleurs l’objectif de ce calendrier de l’Avent. Grâce à ces articles quotidiens, nous essayerons de partager nos retours d'expériences et des tutoriels sur Symfony.</p>

<p><a href="http://www.symfony.com"><img src="http://symfony.com/images/common/logo/logo_symfony_header.png" alt="Symfony by SensioLab" /></a></p>

<p>L'AFSY ne dépend d’aucune société. Le groupe est complètement indépendant et possède un mode de "gouvernance" communautaire : sans trésorier, sans président. Il fonctionne grâce à la communauté, au bénévolat de ses membres et aux sociétés qui nous donnent des coups de pouce (Merci à eux :)).<br />
Toutes les décisions sont prises ensemble. Bon des fois, quand il le faut, on reste un petit noyau dur "d'anciens" pour mettre fin aux discussions  ... :) D'ailleurs, à l'AFSY, on souhaite garder ce côté "convivial" et rock&amp;roll. Il y a d'autres associations (comme l'<a href="http://afup.org">AFUP</a> qui sont plus structurées et qui organisent des choses plus importantes. Nous avons décidé de ne pas devenir une association et de rester "simple and stupid", à dimension humaine.</p>

<p>Pour finir, nos actions dans l’AFSY peuvent se résumer en deux activités principales:</p>

<ul>
<li>On s'envoie des mails, via une liste de diffusion, pour chercher de l'aide technique ou discuter autour de Symfony.</li>
<li>On organise des Meetups: les sfPots.</li>
</ul>

<h2>Les Meetups de l'AFSY</h2>

<p>L'AFSY organise des meetups techniques autour de Symfony et de PHP. On les appelle les sfPots.</p>

<p>Bien que chaque groupe local à sa propre organisation, tous les groupes utilisent la même formule:</p>

<ul>
<li>Une heure de conférences.</li>
<li>Un "apéro" : on discute et on échange sur ces conférences et sur Symfony, en se tutoyant autour d'un verre ou d'un burger. L’ambiance est très amicale et ça peut se terminer tard :)</li>
</ul>

<p>On essaie de se tenir à faire un sfPot par mois. A Paris, par exemple, c'est les 3ième mardi du mois.</p>

<p>Les sfPots sont tournants: chaque mois c'est une société différente qui héberge les conférences et chaque mois ce sont de nouveaux conférenciers qui prennent la parole.</p>

<p>Pour garder un groupe indépendant et ouvert, nous avons instauré quelques règles. Par exemple, une société ne peut pas héberger deux fois de suite un sfPot. De la même manière, les conférenciers ne doivent pas travailler dans la société qui héberge le sfPot.</p>

<p>Comme vous le verrez dans la suite de l’article, le format des conférences est très ouvert:</p>

<ul>
<li>Une conférence peut durer 40 minutes comme 10 minutes,</li>
<li>elle peut être technique et centrée sur une spécificité de Symfony,</li>
<li>mais elle peut aussi porter sur un retour d'expérience ou la présentation d'un projet.</li>
</ul>

<p>En bref, nous voulons donner la parole à toute personne qui souhaite présenter son travail et le mettre à profit pour la communauté Symfony.</p>

<p><img src="https://pbs.twimg.com/profile_images/378800000085970757/b21cba25f5be01b84255aa5cb2038616.png" alt="Logo AFSY" title="Logo AFSY" /></p>

<h2>Participer à l'AFSY</h2>

<p>C'est simple, il y a deux choses à faire :</p>

<ol>
<li>Inscrivez-vous à la <a href="https://groups.google.com/forum/?hl=fr#!forum/asso-afsy">list de diffusion</a>.</li>
<li>Venez aux sfPots !</li>
</ol>

<h2>Nous avons besoin de vous !</h2>

<ul>
<li>En tant que société, si vous souhaitez héberger des conférences.</li>
<li>En tant que personne, si vous souhaitez tenir une conférence.</li>
</ul>

<p>Dans tous les cas, vous serez accueillis chaleureusement. Pour prendre contact et s'engager, il suffit de poster sur la list de diffusion !</p>

<p>Vous pouvez aussi retrouver l’AFSY sur le web, via :</p>

<ul>
<li>un site : <a href="http://www.afsy.fr">http://www.afsy.fr</a></li>
<li>une page "Meetup" : <a href="http://www.meetup.com/afsy-sfpot/">http://www.meetup.com/afsy-sfpot/</a></li>
<li>un compte twitter : <a href="https://twitter.com/assoafsy">https://twitter.com/assoafsy</a></li>
<li>un groupe Google : <a href="https://groups.google.com/forum/?hl=fr#!forum/asso-afsy">https://groups.google.com/forum/?hl=fr#!forum/asso-afsy</a></li>
</ul>

<h2>Les sfPots de l'année 2013</h2>

<p>L'AFSY souhaite remercier chaleureusement toutes les sociétés qui nous ont aidés et les conférenciers !</p>

<h3>À Paris:</h3>

<p>Les conférenciers:</p>

<ul>
<li>Joël Wurtz</li>
<li>Olivier Dolbeau</li>
<li>Nicolas Badet</li>
<li>Rémi Janot</li>
<li>Alexandre Salomé</li>
<li>Marek Kalnik</li>
<li>Xavier Gorse</li>
<li>Thierry Marianne</li>
<li>Michel Salib</li>
<li>Cédric Lombardot</li>
</ul>

<p>Les sociétés:</p>

<ul>
<li><a href="http://www.covoiturage.fr">BlaBlaCar</a></li>
<li><a href="http://www.yoopies.com">Yoopies</a></li>
<li><a href="http://www.ysance.com">Ysance</a></li>
<li><a href="http://www.theodo.com">Théodo</a></li>
<li><a href="http://www.jolicode.com">JoliCode</a></li>
<li><a href="http://www.dojoboost.com">DojoBoost</a></li>
<li><a href="http://www.sensiolabs.com">SensioLabs</a></li>
<li><a href="http://www.lanetscouade.com">LaNetscouade</a></li>
<li><a href="http://www.elao.com">Elao</a></li>
<li><a href="http://www.youcare.com">Youcare</a></li>
</ul>

<h3>À Marseille:</h3>

<p>Les conférenciers :</p>

<ul>
<li>Hugo Hamon (guest star)</li>
<li>Jérémy Romey</li>
<li>Khalid Abdelmoumni</li>
<li>Nicolas Potier</li>
<li>Sébastien Houzé</li>
<li>Sébastien Porati</li>
<li>Stéphane Py</li>
<li>Timothée Barray</li>
</ul>

<p>Les sociétés :</p>

<ul>
<li><a href="http://www.acseo-conseil.fr/">ACSEO</a></li>
<li><a href="http://verylastroom.com/">VeryLastRoom</a></li>
<li><a href="http://www.virtual-expo.com/">VirtualExpo</a></li>
</ul>
{% endblock %}

{% block article_avatar %}
                <img src="{{ asset('bundles/afsyfront/images/members/maxime_teneur_nb.png') }}" />
{% endblock %}

{% block article_bio %}
<h2><a href="{% block author_url 'http://www.lanetscouade.com/equipe/maxime-teneur' %}">{% block article_author 'Maxime Teneur' %}</a></h2>
    <p>Maxime est responsable technique à <a href="http://www.lanetscouade.com" title="LaNetscouade">La Netscouade</a></p>
    <p>
    Avec son équipe, il travaille notamment sur le déploiement d'applications orientées "services".
    Nous travaillons sur différents types de projets web et mobiles: des dispositifs web de consultation et de débat, aux sites de contenus plus classiques, en passant par des dispositifs web de consultation/débats.
    </p>
    <p>
     Nous développons et déployons des applications et des API de type REST  avec Symfony (...et Drupal, parfois ;p )
     et les intégrons dans des applications Javascript clientes avec AngularJS.
    </p>
    <p>
     Maxime est aussi membre du Bureau de l'@AFUP

    </p>
{% endblock %}
