{% extends 'AfsyFrontBundle:Avent:day.html.twig' %}

{% set year = 2013 %}

{% block article_title "Jour 01 - Présentation de l'AFSY" %}

{% block article_content %}
<h1>L’<abbr title="Association Française des utilisateurs de Symfony">AFSY</abbr>, une « non-association » pour promouvoir Symfony</h1>

<p>L'<abbr title="Association Française des utilisateurs de Symfony">AFSY</abbr> est un acronyme signifiant « <em>Association Française des utilisateurs de Symfony</em> ». Sur la forme, ce n'est pas vraiment une association, puisque aucun statut administratif n'a été déposé ! Dans les faits, depuis 2009, l'AFSY correspond à un groupe d'utilisateurs, présent dans plusieurs grandes villes françaises : Paris, Marseille, Nantes.</p>

<p><strong>Notre objectif</strong> est de promouvoir le framework <a href="http://symfony.com/">Symfony</a> dans le monde PHP. Aujourd’hui, nous essayons d’aider la communauté Symfony francophones pour que ses membres puissent échanger, dialoguer et s’entraider.</p>

<p><a href="http://www.symfony.com"><img src="http://symfony.com/images/common/logo/logo_symfony_header.png" class="img-article" alt="logo de Symfony" /></a></p>

<p>C’est d’ailleurs l’objectif de ce calendrier de l’Avent. Grâce à ces articles quotidiens, nous partagerons nos retours d'expérience et des tutoriels à propos de PHP, Symfony, Doctrine, Propel et autres outils que vous rencontrerez certainement dans vos futurs développements.</p>

<p>La création de l'AFSY, son fonctionnement ou ses orientations ne dépend d’aucune société. Le groupe d'utilisateurs est complètement indépendant, impartial et autonome. Il possède un mode de « gouvernance » communautaire : sans trésorier, sans secrétaire et sans président. Il fonctionne entièrement grâce à la communauté, au bénévolat de ses membres et aux sociétés qui lui donnent des coups de pouce. Nous tenons d'ailleurs à les remercier aussi avec ce calendrier de l'Avent pour tout le soutien qu'ils nous apportent.</p>

<p>Toutes les décisions sont prises collectivement. Cependant, quand il le faut, un petit noyau dur de membres fondateurs prend pouvoir de sa légitimité pour mettre fin à certaines discussions et prendre des décisions... D'ailleurs, à l'AFSY, nous souhaitons à tous prix garder ce côté convivial et « rock &amp; roll ». D'autres associations comme l'<a href="http://afup.org">AFUP</a> sont plus structurées et mettent en oeuvre des actions plus importantes. Nous avons collectivement décidé de ne pas devenir une association et de rester « simple and stupid ». Nous souhaitons conserver toute notre dimension humaine.</p>

<p>Pour finir, nos actions dans l’AFSY peuvent se résumer en deux activités principales:</p>

<ul>
    <li>L'utilisation d'une liste de diffusion pour les discussions techniques, l'entraide et la vie du groupe,</li>
    <li>L'organisation des Meetups : les « <em>sfPots</em> ».</li>
</ul>

<h2>Les Meetups de l'AFSY</h2>

<p><img src="{{ asset('img/afsy_80x80_b.png') }}" class="img-article" alt="Logo AFSY" title="Logo AFSY" /></p>

<p>L'AFSY organise des rencontres techniques autour de Symfony et de PHP. On les appelle les « <em>sfPots</em> ». Bien que chaque groupe local à sa propre organisation, tous les groupes utilisent la même formule :</p>

<ul>
    <li>Une heure de conférences.</li>
    <li>Un "apéro", permettant de discuter et échanger sur ces conférences et sur Symfony, en se tutoyant autour d'un verre ou d'un burger. L’ambiance est très amicale et ça peut se terminer tard :)</li>
</ul>

<p>Nous essayons d'être réguliers et d'organiser un <em>sfPot</em> mensuel. A Paris, par exemple, ce sont les troisièmes mardis de chaque mois. Ces <em>sfPots</em> sont tournants : chaque mois, c'est donc une société différente qui héberge les conférences, et ce sont aussi de nouveaux orateurs qui prennent la parole.</p>

<p>Afin de garder un groupe indépendant, impartial et ouvert, nous avons dû instaurer quelques règles. Par exemple, une société ne peut héberger deux fois de suite un <em>sfPot</em>. De la même manière, les conférenciers ne doivent pas travailler dans la société qui héberge le <em>sfPot</em>. Ce mode de fonctionnement fonctionne parfaitement et réjouit toutes les parties prenantes. Tout le monde y trouve son compte.</p>

<p>Comme vous le verrez dans la suite de l’article, le format des conférences est très ouvert :</p>

<ul>
    <li>Une conférence peut durer 40, 20 ou seulement 10 minutes,</li>
    <li>Le sujet peut très technique, comme fonctionnel ou centré sur une spécificité de Symfony,</li>
    <li>La présentation peut aussi porter sur un retour d'expérience.</li>
</ul>

<p>Cette approche entièrement libre et décomplexée permet à chacun de prendre la parole et de partager ses connaissances. La manière de présenter le sujet est elle aussi complètement libre : certains orateurs choisissent par exemple une approche sérieuse, alors que d'autres préfèrent l'humour et la dérision.</p>

<p>En bref, nous voulons donner la parole à toute personne qui souhaite présenter son travail et le mettre à profit pour la communauté Symfony.</p>

<h2>Participer à l'AFSY</h2>

<p>C'est simple, il y a deux choses à faire :</p>

<ol>
    <li>Inscrivez-vous à la <a href="https://groups.google.com/forum/?hl=fr#!forum/asso-afsy">liste de diffusion</a>,</li>
    <li>Rejoignez-nous aux <em>sfPots</em> !</li>
</ol>

<h2>Nous avons besoin de vous !</h2>

<p>Bien sûr, pour avancer, l'AFSY a toujours besoin de nouvelles forces et moyens pour avancer et mettre en oeuvre ses actions.</p>

<p>Nous sommes à la recherche de nouvelles sociétés pour nous accueillir dans leurs locaux à l'occasion des <em>sfPots</em> afin de mettre à disposition les moyens de délivrer les conférences. L'infrastructure logistique se résume le plus souvent à une salle de réunion équipée d'un vidéo projecteur ! Si vous êtes intéressé, n'hésitez pas à prendre contact avec nous !</p>

<p>Et bien sûr, nous recherchons aussi de nouvelles personnes bénévoles pour nous aider dans l'organisation des divers événements. Que vous souhaitiez juste apporter votre aide à l'organisation d'un <em>sfPot</em> ou bien prendre la parole, vous êtes les bienvenus.</p>

<p>Dans tous les cas, vous serez accueillis chaleureusement. Pour prendre contact et s'engager, il suffit simplement de vous inscrire à la liste de diffusion et poster vos messages.</p>

<p>Vous pouvez aussi retrouver l’AFSY sur le web, via :</p>

<ul>
    <li>un site : <a href="http://www.afsy.fr">http://www.afsy.fr</a></li>
    <li>une page "Meetup" : <a href="http://www.meetup.com/afsy-sfpot/">http://www.meetup.com/afsy-sfpot/</a></li>
    <li>un compte twitter : <a href="https://twitter.com/assoafsy">https://twitter.com/assoafsy</a></li>
    <li>un groupe Google : <a href="https://groups.google.com/forum/?hl=fr#!forum/asso-afsy">https://groups.google.com/forum/?hl=fr#!forum/asso-afsy</a></li>
</ul>

<h2>Les sfPots de l'année 2013</h2>

<p>L'AFSY souhaite remercier chaleureusement toutes les sociétés et conférenciers qui nous ont aidé et continuent de nous apporter leur soutien.</p>

<h3>À Paris:</h3>

<p>Les conférenciers:</p>

<ul>
    <li>Alexandre Salomé</li>
    <li>Cédric Lombardot</li>
    <li>Joël Wurtz</li>
    <li>Marek Kalnik</li>
    <li>Michel Salib</li>
    <li>Nicolas Badet</li>
    <li>Olivier Dolbeau</li>
    <li>Rémi Janot</li>
    <li>Thierry Marianne</li>
    <li>Xavier Gorse</li>
</ul>

<p>Les sociétés:</p>

<ul>
    <li><a href="http://www.covoiturage.fr">BlaBlaCar</a></li>
    <li><a href="http://www.dojoboost.com">DojoBoost</a></li>
    <li><a href="http://www.elao.com">Elao</a></li>
    <li><a href="http://jolicode.com">JoliCode</a></li>
    <li><a href="http://www.lanetscouade.com">LaNetscouade</a></li>
    <li><a href="http://www.sensiolabs.com">SensioLabs</a></li>
    <li><a href="http://www.theodo.com">Théodo</a></li>
    <li><a href="http://www.yoopies.fr">Yoopies</a></li>
    <li><a href="http://www.youcare.fr">Youcare</a></li>
    <li><a href="http://www.ysance.com">Ysance</a></li>
</ul>

<h3>À Marseille:</h3>

<p>Les conférenciers :</p>

<ul>
    <li>Hugo Hamon</li>
    <li>Jérémy Romey</li>
    <li>Khalid Abdelmoumni</li>
    <li>Nicolas Potier</li>
    <li>Sébastien Houzé</li>
    <li>Sébastien Porati</li>
    <li>Stéphane Py</li>
    <li>Timothée Barray</li>
</ul>

<p>Les sociétés :</p>

<ul>
    <li><a href="http://www.acseo-conseil.fr/">ACSEO</a></li>
    <li><a href="http://verylastroom.com/">VeryLastRoom</a></li>
    <li><a href="http://www.virtual-expo.com/">VirtualExpo</a></li>
</ul>

<p>Enfin, nous remercions <a href="http://www.synalabs.com/">Synalabs</a>, qui fournit l'hébergement à l'AFSY !</p>
{% endblock %}

{% block article_avatar %}
<img src="{{ asset('bundles/afsyfront/images/avent/maxime-teneur.png') }}" />
{% endblock %}

{% block article_bio %}
<h2>
    <a href="{% block author_url 'http://www.lanetscouade.com/equipe/maxime-teneur' %}">{% block article_author 'Maxime Teneur' %}</a>
</h2>

<p>Maxime est responsable technique à <a href="http://www.lanetscouade.com" title="La Netscouade">La Netscouade</a></p>
<p>Avec son équipe, il travaille notamment sur le déploiement d'applications orientées « services ». Nous travaillons sur différents types de projets web et mobiles : des dispositifs web de consultation et de débat, aux sites de contenus plus classiques.</p>
<p>Nous développons et déployons des applications et des API de type REST avec Symfony (...et Drupal, parfois ;p) et les intégrons dans des applications Javascript clientes avec AngularJS.</p>
<p>Maxime est aussi membre du Bureau de l'<a href="http://afup.org/">AFUP</a></p>
{% endblock %}
