# junk
.DS_Store
.project
.settings
.idea
composer.phar

# deployment
bin/fabfile.py

# other
*.pyc
web/css/compiled
web/js/compiled

# Symfony Standard Defaults
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
