# junk
.DS_Store
.project
.settings
.idea

# sf2
web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
app/config/parameters.yml
web/css/compiled
web/js/compiled
composer.phar
.sass-cache/

# deployment
bin/fabfile.py

# other
*.pyc
