default:
    suites:
        default:
            contexts:
                - App\Behat\FeatureContext: ~

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
