version: '3.7'

# This configuration is only for development environment
services:
    db:
        image: mariadb:10.4
        ports:
            - '3306:3306'
        environment:
            MYSQL_ROOT_PASSWORD: 'root'
            MYSQL_DATABASE: 'afsy'
            MYSQL_USER: 'afsy'
            MYSQL_PASSWORD: 'password'
