<footer>
    <div class="container">
        <div class="mention">
            L'AFSY est une initiative communautaire lancée par un groupe de passionnés, et est indépendante de toute entreprise.<br/>
            Ce site a été développé par les membres de l'AFSY, et peut être amélioré : <a href="https://github.com/afsy/website">forkez moi sur github !</a> - L'hébergement est gracieusement fourni par <a href="http://www.synalabs.com/">Synalabs</a>.
        </div>
    </div>
</footer>
