.avent-author-block{overflow:auto;margin-top:30px;margin-bottom:30px;background-color:#e3e3e6;padding:15px;position:relative}.avent-author-block>div.avatar{float:left;width:90px;overflow:hidden}.avent-author-block>div.content-hero{font-size:1.4em;text-align:center}.avent-author-block>div.content{padding-left:15px;margin-left:195px}.avent-author-block>div.content>h2>a{color:#353535}.avent-author-block>div.date{float:left;padding-right:15px}.avent-author-block div.extract{margin-top:10px;color:#979faa}.avent-article h1,.avent-article h2,.avent-article h3,.avent-article h4{margin-top:1.5em;margin-bottom:0.5em}.avent-article h2{font-weight:bold}.avent-article h3{margin-left:10px;border-bottom:1px solid #d2d2d2}.avent-article h4{margin-left:15px;border-bottom:1px solid #d2d2d2}.avent-article p,.avent-article>ul,.avent-article pre{margin-top:1em}.avent-article pre,.avent-article code{font-family:"Courier New", monospace}.avent-article pre{overflow:auto}.avent-article a{color:#1091a7}.avent-article .img-article{float:left;margin:0px 15px 5px 0px}.avent-navigation{list-style:none;margin:20px 0 0 0;padding:0;overflow:auto}.avent-navigation a{color:#1fbba6;font-weight:bold}.avent-navigation li{width:33%;box-sizing:border-box;float:left}.avent-navigation li.next{text-align:right}.avent-navigation li.up{text-align:center}.calendar_date{width:90px;height:auto;background:#fcfcfc;background:linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);background:-moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);background:-webkit-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);border:1px solid #d2d2d2;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 0px 15px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 15px rgba(0,0,0,0.1);-webkit-box-shadow:0px 0px 15px rgba(0,0,0,0.1)}.calendar_date p{font-family:Helvetica, sans-serif;font-size:40px;text-align:center;color:#333;font-weight:bold;line-height:60px}.calendar_date p span{line-height:20px;background:#d10000;background:linear-gradient(top, #d10000 0%,#7a0909 100%);background:-moz-linear-gradient(top, #d10000 0%, #7a0909 100%);background:-webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);font-size:13px;font-weight:bold;color:#fff;text-transform:uppercase;display:block;border-top:3px solid #a13838;border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;padding:2px 0 4px 0}


#avent-2019 .calendar_date {
    box-shadow: none;
    background: #fcfcfc;
}
#avent-2019 .calendar_date p span {
    background: #ad0000;
}

#avent-2019 .avent-article {
    padding-left: .3rem;
    padding-right: .3rem;
}

#avent-2019 .avent-article p,
#avent-2019 .avent-article li {
    text-align: justify;
}

#avent-2019 .avent-article p img {
    margin: 2em auto 0;
}

#avent-2019 .avent-article .avent-image-legend {
    margin: .5em auto 2em;
    text-align: center;
    font-style: italic;
    color: #999;
}
