* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    background: #eaedf1;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.7em;
    color: #222;
    -webkit-font-smoothing: antialiased
}

em, i, .italic {
    font-style: italic;
    line-height: inherit
}

strong, b {
    font-weight: bold;
    line-height: inherit
}

small {
    font-size: 90%;
    line-height: inherit
}

big {
    font-size: 200%;
    line-height: inherit
}

.uppercase {
    text-transform: uppercase
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizelegibility
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    *color: expression(this.parentNode.currentStyle['color'])
}

h1 {
    font-size: 2.2em
}

h2 {
    font-size: 1.7em
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1.2em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1em
}

p {
    font-size: 1em
}

.small {
    font-size: 0.85em
}

p img {
    margin: 0
}

a {
    color: #14b9d6;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer
}

p a, p a:visited {
    line-height: inherit
}

a img {
    border: none
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit
}

li img {
    display: block
}

img {
    max-width: 100%;
    display: block;
    width: auto
}

@font-face {
    font-family: "Museo";
    src: url('../fonts/museo_slab_500-webfont.ttf') format('truetype'), url('../fonts/museo_slab_500italic-webfont.ttf') format('opentype'), url('../fonts/museo_slab_500-webfont.eot') format('embedded-opentype'), url('../fonts/museo_slab_500-webfont.svg') format('svg')
}

.museo {
    font-family: "Museo", serif;
    font-weight: normal
}

@font-face {
    font-family: "Muli";
    src: url('../fonts/Muli-Regular-webfont.ttf') format('truetype'), url('../fonts/Muli-Regular-webfont.ttf') format('opentype'), url('../fonts/Muli-Regular-webfont.eot') format('embedded-opentype'), url('../fonts/Muli-Regular-webfont.svg') format('svg')
}

@font-face {
    font-family: "Muli";
    src: url('../fonts/Muli-Italic-webfont.ttf') format('truetype'), url('../fonts/Muli-Italic-webfont.ttf') format('opentype'), url('../fonts/Muli-Italic-webfont.eot') format('embedded-opentype'), url('../fonts/Muli-Italic-webfont.svg') format('svg');
    font-style: italic;
}

@font-face {
    font-family: "Muli";
    src: url('../fonts/Muli-Light-webfont.ttf') format('truetype'), url('../fonts/Muli-Light-webfont.ttf') format('opentype'), url('../fonts/Muli-Light-webfont.eot') format('embedded-opentype'), url('../fonts/Muli-Light-webfont.svg') format('svg');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Muli";
    src: url('../fonts/Muli-LightItalic-webfont.ttf') format('truetype'), url('../fonts/Muli-LightItalic-webfont.ttf') format('opentype'), url('../fonts/Muli-LightItalic-webfont.eot') format('embedded-opentype'), url('../fonts/Muli-LightItalic-webfont.svg') format('svg');
    font-style: italic;
    font-weight: 200;
}


.white {
    color: #fff
}

.blue {
    color: #14b9d6
}

ul {
    list-style: square inside;
    margin-left: 2em
}

ol {
    list-style: decimal
}

ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px
}

ul.square {
    list-style: square outside;
    text-align: left
}

ul.square li {
    margin: 5px 0
}

ul.circle {
    list-style: circle outside
}

ul.disc {
    list-style: disc outside
}

ul.large li {
    line-height: 21px
}

.left {
    float: left
}

.right {
    float: right
}

.none {
    float: none
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.font-weight-light {
    font-weight: 200;
}

.inline, .list-horizontal li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    *vertical-align: middle;
    margin-right: 5px
}

.inline:last-child, .list-horizontal li:last-child {
    margin-right: 0
}

.vertical-align {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    *vertical-align: middle
}

img.vertical-align {
    margin-right: 5px
}

.row:before, .row:after, .clearfix:before, .clearfix:after, .row .row.collapse:before, .row .row.collapse:after {
    content: "";
    display: table
}

.row:after, .clearfix:after, .row .row.collapse:after, .row .row:after, .row .row:before, .row .row:after {
    clear: both
}

.row, .clearfix {
    zoom: 1
}

.relative {
    position: relative
}

.mg-page {
    margin: 20px
}

.mg-top {
    margin-top: 20px
}

.mg-top-s {
    margin-top: 10px
}

.mg-bottom {
    margin-bottom: 20px
}

.mg-bottom-s {
    margin-bottom: 5px
}

.mg-left {
    margin-left: 20px
}

.mg-right {
    margin-right: 20px
}

.mg-lg {
    margin: 0 20px
}

.mg-ht {
    margin: 20px 0
}

.pd-page {
    padding: 20px
}

.pd-top {
    padding-top: 20px
}

.pd-bottom {
    padding-bottom: 20px !important
}

.pd-left {
    padding-left: 20px
}

.pd-right {
    padding-right: 20px
}

.pd-lg {
    padding: 0 20px
}

.pd-ht {
    padding: 20px 0
}

.no-marg {
    margin: 0 !important
}

.no-pd {
    padding: 0 !important
}

.fixpd {
    margin-right: 15px;
    margin-left: 15px
}

button, .btn {
    background: #f27935;
    width: auto;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    *vertical-align: middle;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    margin: 0;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    border: 0 none;
    *border: 0
}

button:hover, .btn:hover {
    background: #f0691d
}

.btn.register {
    display: block
}

.btn.tiny {
    font-size: 10px;
    padding: 5px 10px 6px
}

.btn.small {
    font-size: 11px;
    padding: 7px 14px 8px
}

.btn.medium {
    font-size: 14px
}

.btn.large {
    font-size: 17px;
    padding: 15px 30px 16px
}

.btn.expand {
    width: 100%;
    text-align: center
}

.btn.disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled]:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    cursor: default
}

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto
}

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
    padding: 0;
    border: 0
}

.panel {
    background-color: #eee;
    border: 1px solid #dadada;
    padding: 15px
}

hr {
    color: #eee;
    background-color: #dadada;
    height: 1px;
    border: 0;
    margin: 20px 0
}

table {
    background-color: transparent;
    max-width: 100%;
    width: 100%;
    table-layout: fixed
}

table th {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold
}

table th, table td {
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top
}

table.stripped {
    border-collapse: collapse;
    border-spacing: 0
}

table.stripped tr.even {
    background-color: #fff
}
