/*  AVENT.CSS
    CSS du calendrier de l'avent
-------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------
    :: Imports Compass !important!
------------------------------------------------------- */
/* ----------------------------------------------------
    :: Margin
------------------------------------------------------- */
/* ----------------------------------------------------
    :: Widths
------------------------------------------------------- */
/* ----------------------------------------------------
    :: Font
------------------------------------------------------- */
/* ----------------------------------------------------
    :: Colors
------------------------------------------------------- */
/* Text ----------------- */
/* line 11, ../sass/avent.scss */
.avent-author-block {
  overflow: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e3e3e6;
  padding: 15px;
  position: relative;
}
/* line 19, ../sass/avent.scss */
.avent-author-block > div.avatar {
  float: left;
  width: 90px;
  overflow: hidden;
}
/* line 24, ../sass/avent.scss */
.avent-author-block > div.content-hero {
  font-size: 1.4em;
  text-align: center;
}
/* line 28, ../sass/avent.scss */
.avent-author-block > div.content {
  padding-left: 15px;
  margin-left: 195px;
}
/* line 29, ../sass/avent.scss */
.avent-author-block > div.content > h2 > a {
  color: #353535;
}
/* line 36, ../sass/avent.scss */
.avent-author-block > div.date {
  float: left;
  padding-right: 15px;
}
/* line 41, ../sass/avent.scss */
.avent-author-block div.extract {
  margin-top: 10px;
  color: #979faa;
}

/* line 48, ../sass/avent.scss */
.avent-article h1, .avent-article h2, .avent-article h3, .avent-article h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
/* line 53, ../sass/avent.scss */
.avent-article p, .avent-article > ul {
  margin-top: 1em;
}
/* line 57, ../sass/avent.scss */
.avent-article pre {
  font-family: "Courier New", monospace;
  overflow: auto;
  margin-top: 1em;
}
/* line 61, ../sass/avent.scss */
.avent-article .img-article {
  float: left;
  margin: 0px 15px 5px 0px;
}

/* line 68, ../sass/avent.scss */
.avent-navigation {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  overflow: auto;
}
/* line 69, ../sass/avent.scss */
.avent-navigation a {
  color: #1fbba6;
  font-weight: bold;
}
/* line 72, ../sass/avent.scss */
.avent-navigation li {
  width: 33%;
  box-sizing: border-box;
  float: left;
}
/* line 77, ../sass/avent.scss */
.avent-navigation li.next {
  text-align: right;
}
/* line 80, ../sass/avent.scss */
.avent-navigation li.up {
  text-align: center;
}

/* line 86, ../sass/avent.scss */
.calendar_date {
  width: 90px;
  height: auto;
  background: #fcfcfc;
  background: linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
/* line 100, ../sass/avent.scss */
.calendar_date p {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #333;
  font-weight: bold;
}
/* line 105, ../sass/avent.scss */
.calendar_date p span {
  background: #d10000;
  background: linear-gradient(top, #d10000 0%, #7a0909 100%);
  background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
  background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: block;
  border-top: 3px solid #a13838;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  padding: 2px 0 4px 0;
}
