<header>
    <div class="container">
        <h1 class="logo"><a href="#">Association Francophone des Utilisateurs de Symfony</a></h1>
        <h2 class="museo uppercase">Association Francophone des Utilisateurs de Symfony</h2>
        <h5>Groupe de professionnels du web passionné par le framework PHP Symfony.</h5>
        <p>
            <a class="btn btn-primary btn-large" href="mailto:asso.afsy@gmail.com">Contactez-nous &raquo;</a>
            <a class="btn btn-primary btn-large" href="http://groups.google.com/group/asso-afsy?hl=fr">Rejoindre la liste de discussion &raquo;</a>
        </p>
    </div>
</header>

<section class="presentation">
    <div class="container">
         <p>
            L'AFSY est un groupe de professionnels du web passionnés par le framework PHP <a href="http://symfony.com">Symfony</a>. Notre objectif consiste à promouvoir l'utilisation du framework Symfony et évangéliser les bonnes pratiques de développement auprès des entreprises et des universitaires. Pour ce faire, nous organisons ponctuellement des soirées gratuites accompagnées de conférences ou d'ateliers de découverte de Symfony ainsi que les traditionnels &laquo; sfPots &raquo;. Les &laquo; sfPots &raquo; sont des rendez-vous sociaux informels, gratuits et ouverts à tous. Ils prennent place une fois par mois dans un bar, un pub ou un restaurant. C'est autour d'une bière ou d'un repas que les discussions autour de Symfony, du web et de l'association ont lieu. Rejoignez-nous !
        </p>
    </div>
</section>
