{% extends 'AfsyFrontBundle::layout.html.twig' %}

{% block page_title %}
    - tous les articles
{% endblock %}

{% block body %}
    {% for article in pagination %}
        {% include 'AfsyFrontBundle:Blog:_article.html.twig' with {'article': article} %}
    {% else %}
        <p class="text-error">Il n'y a aucun article.</p>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}
