<footer>
    <div class="container">
        <div class="mention">
            L'AFSY est une initiative communautaire lancée par un groupe de passionnés. Elle est aussi indépendante de toute entreprise.<br />
            Ce site a été développé par les membres de l'AFSY et peut être amélioré : <a href="https://github.com/afsy/website">forkez moi sur github !</a>
            - L'hébergement est gracieusement offert par <a href="https://platform.sh/regions/france/" rel="nofollow">Platform.sh</a>.
        </div>
    </div>
</footer>
