{% set header_expanded = header_expanded is defined ? header_expanded : true %}
<header role="main">
    <div class="container">
        <h1 class="logo"><a href="{{ url('blog_home') }}">Association Francophone des Utilisateurs de Symfony</a></h1>
        {% if header_expanded %}
        <h2 class="museo uppercase">Association Francophone des Utilisateurs de Symfony</h2>
            <h5>Groupe de professionnels du Web passionnés par le framework PHP Symfony.</h5>
            <p>
                <a class="btn" href="https://groups.google.com/forum/#!forum/asso-afsy">Rejoindre la liste de discussion <i class="icon-arrow-white"></i></a>
            </p>
        {% endif %}
        <ul class="contact list-horizontal">
            <li><a href="https://groups.google.com/forum/#!forum/asso-afsy"><i class="icon-mail-white"></i></a></li>
            <li><a href="https://twitter.com/assoafsy"><i class="icon-twitter-white"></i></a></li>
            <li><a href="http://www.meetup.com/afsy-sfpot/"><i class="icon-meetup-white"></i></a></li>
            <li><a href="https://github.com/afsy"><i class="icon-github-white"></i></a></li>
            <li><a href="http://slack.afsy.fr"><i class="icon-slack-white"></i></a></li>
        </ul>
    </div>
</header>

{{ header_announcement|default('') }}

{% if header_expanded %}
    <section class="presentation">
        <div class="container row">
             <div class="large-4 columns">
                <p class="icon hide-for-small"><i class="icon-sf-white"></i></p>
                <p>Notre objectif consiste à promouvoir l'utilisation du framework Symfony et évangéliser les bonnes pratiques de développement auprès des entreprises et des universitaires.</p>
            </div>
            <div class="large-4 columns">
                <p class="icon hide-for-small"><i class="icon-conf-white"></i></p>
                <p>Pour ce faire, nous organisons ponctuellement des soirées gratuites accompagnées de conférences ou d'ateliers de découverte de Symfony ainsi que les traditionnels « sfPots », dans plusieurs villes en France.</p>
            </div>
            <div class="large-4 columns">
                <p class="icon hide-for-small"><i class="icon-beer-white"></i></p>
                <p>Les « sfPots » sont des rendez-vous sociaux informels, gratuits et ouverts à tous. Ils ont lieu une fois par mois avec une ou deux présentations, et se prolongent autour d'une bière ou d'un repas dans un bar, un pub ou un restaurant.</p>
            </div>
        </div>
    </section>
{% endif %}

{{ header_extra|default('') }}
