@charset "UTF-8";

/* ----------------------------------------------------
    :: Imports Compass !important!
------------------------------------------------------- */
@import "compass/css3";
@import "compass/typography/text/replacement";
@import "compass/typography/lists/horizontal-list";


/* ----------------------------------------------------
    :: Margin
------------------------------------------------------- */

     $mg: 20px;
     $padding-page : 30px;


/* ----------------------------------------------------
    :: Widths
------------------------------------------------------- */

    $wd-container : 960px;

    $one : 8.33333%;
    $two : 16.66667%;
    $three: 25%;
    $four : 33.33333%;
    $five: 41.66667%;
    $six: 50%;
    $seven: 58.33333%;
    $eight: 66.66667%;
    $nine: 75%;
    $ten: 83.33333%;
    $eleven: 91.66667%;
    $twelve: 100%;


/* ----------------------------------------------------
    :: Font
------------------------------------------------------- */

    $font : "Arial", sans-serif;
    $font2 : "Georgia", serif;

/* ----------------------------------------------------
    :: Colors
------------------------------------------------------- */
    $black : #353535;
    $white : #FFF;
    $blue : #015498;
    $pink : #ce5973;
    $grey-light : #eee;
    $grey : #eaedf1;
    $grey-border : #dadada;
    $red : #d23d3d;
    $orange : #f3a668;
    $green : #1fbba6;

    /* Text ----------------- */
    $text-grey : #979faa;
