@charset "UTF-8";
@import "partials/variables.scss";


/* ----------------------------------------------------
    :: Icons
------------------------------------------------------- */

    $icon-sprite-dimensions: true;
    @import "icon/*.png";
    @include all-icon-sprites;


    [class^="icon-"]{
        @include inline-block;
        margin-top : -2px;
    }

    .icon-time-grey,
    .icon-calendar-white {
        margin-right : 4px;
    }

    .icon-arrow-white   { margin-left : 4px; }
