<a href="{{ url('blog_preview', {'slug': object.slug}) }}" class="preview_link" title="{% trans from 'SonataAdminBundle' %}preview{% endtrans %}">
    {% trans from 'SonataAdminBundle' %}preview{% endtrans %}
</a>
